@model ProyectMVC.Models.UsuarioModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UsuarioModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PuestoTrabajo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PuestoTrabajo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.privilegios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.privilegios)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cedula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contrasena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contrasena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
