@model IEnumerable<ProyectMVC.Models.UsuarioModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PuestoTrabajo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.privilegios)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cedula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.contrasena)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuestoTrabajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.privilegios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contrasena)
            </td>
            <td>
               <a asp-action="Edit" asp-route-id="@item.Id">&#9998;</a> |
                <a asp-action="Details" asp-route-id="@item.Id">&#128712;</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">&#10006;</a>
            </td>
        </tr>
}
    </tbody>
</table>
